/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REUSABLE COMPONENTS */

html {
    font-size: 62.5%;

    /* custom properties  ///*/

    /* COLORS */

    --color-primary: #730039;
    --color-primary-light: hsl(330, 100%, 23%, 0.6);
    --color-primary-dark: hsl(330, 100%, 23%, 0.9);


    --color-secondary: #ffc513;

    --color--secondary-light: hsl(45, 100%, 54%, 0.6);
    --color--secondary-dark: hsl(45, 100%, 54%, 0.9);


    --color-tertiary: #ff724c;
    --color-tertiary-light: hsl(13, 100%, 65%, 0.6);
    --color-tertiary-dark: hsl(13, 100%, 65%, 0.9);

    --color-quaternary: #f6eedf;
    --color-quaternary-light: hsl(39, 56%, 92%,0.6);
    --color-quaternary-dark: hsl(39, 56%, 92%,0.9);

    /* TRANSITIONS */

    --transition-duration: 0.3s;

    /* section title & font size */

    --font-size-title: calc(2rem + 2vw);

    /* SECTION PADDING AS IT ALL WILL BE THE SAME FOR ALL SECTIONS */

    --padding-section: 8vh 3vw;


}

body{
    font-family: "Titillium Web", sans-serif;
    line-height: 1.7;
    background-color: var(--color-quaternary);
}

/* 12 cols first and last will grab space remaining  */
/* Line 1 to 13 start end 1 */
/*  line 2 to 12 cnt start end */

.container {
    display: grid;
    grid-template-columns:[container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content,110px) [col-end]) [center-end] 1fr [container-end];
    grid-template-rows: 100vh repeat(8, min-content);
}

.container > * {
    font-size: 2rem;
}

/* MAIN STYLING */
 header#header {
     background-color: var(--color-primary);
     /* placing header according to grid container */
     grid-column: container-start / container-end;
     

 }

 /* BOOKING CONT SECT setting grid prop */

 section#booking-content {
     background-color: var(--color-secondary);
     grid-column: center-start / col-end 6;
     height: 400px;
 }

 /* BOOKING SECT / THIS SECT WILL HAVE SIMPLE HARD CODED DATE / LATER I MIGHT ADD JS FUNCTIONALITY TO CHOOSE ACTUAL DATE */

 section#booking-date {
     background-color: var(--color-tertiary);
     grid-column: col-start 7 / center-end;
     height: 400px;
 }

/* VILLAS SECTION GRID CONFIGURATION */

 section#villas {
     background-color: var(--color-primary);
    grid-column: container-start / container-end ;
    height: 400px;
 }

 /* MOTTTO SECT */

 section#motto {
     background-color: var(--color-primary);
    grid-column: container-start / container-end ;
    height: 400px;
 }

 /* EVENTS CONTENT  */

 section#events-content {
     background-color: var(--color-tertiary);
     grid-column: container-start / col-end 9;
     height: 400px;
 }

 section#events-date {
     background-color: var(--color-primary);
     grid-column: col-start 10 / center-end;
     height: 400px;
 }

 /* gallery vertical */

section#gallery-text {
    background-color: var(--color-tertiary);
    grid-column: center-start / col-end 1;
    height: 400px;
}
/* GALLERY CAROUSEL */

section#gallery-carousel {
    background-color: var(--color-secondary);
    grid-column: col-start 2 / container-end;
    height: 400px;
}

section#features-content {
    background-color: var(--color-primary);
    grid-column: container-start / col-end 9;
    height: 400px;
}

section#features-text {
    background-color: var(--color-secondary);
    grid-column: col-start 10 / center-end;
    height: 400px;
}

/* testimonials */

section#testimonials{
    background-color: var(--color-tertiary);
    grid-column: center-start / center-end;
    height: 400px;
}

/* footer */

footer {
    background-color: var(--color-primary);
    grid-column: container-start / container-end;
    height: 400px;
}

